/*
Design by Christoph Miksche
Website: http://celzekr.webpage4.me
License: Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0)

Dieses Werk bzw. Inhalt steht unter einer Creative Commons Namensnennung-Nicht-kommerziell-
Weitergabe unter gleichen Bedingungen 3.0 Unported Lizenz.

Sie duerfen den/die Link/s zu Celzekr.webpage4.me nicht entfernen!

(http://creativecommons.org/licenses/by-nc-sa/3.0/)
*/
@font-face { font-family: liberation-bold; src: url(../../content/font/liberation_sans/LiberationSans-Bold.ttf); }
b {font-family: liberation-bold;}
@font-face { font-family: liberation-italic; src: url(../../content/font/liberation_sans/LiberationSans-Italic.ttf); }
i {font-family: liberation-italic;}
@font-face {
font-family : liberation;
src : url(../../content/font/liberation_sans/LiberationSans-Regular.ttf);
}
h2 {
padding:0px;
margin:0px;
font-family: liberation;
}
h3 {
padding:0px;
margin:0px;
font-family: liberation;
}
h1 {font-family: liberation;}
/* INPUT ------------------------------------------- */
input[type="text"], input[type="password"], textarea, select {
outline : none;
}
input, textarea {
width:150px;
text-align : left;
border : 1px solid #000000;
color : #000000;
padding : 5px 5px 5px 5px;
margin : 5px 5px 5px 5px;
background-color : #ffffff;
font-family : liberation;
font-size: 14px;
}
input:focus, textarea:focus {
text-align : left;
border : 1px solid #fff;
color : #fff;
padding : 5px 5px 5px 5px;
margin : 5px 5px 5px 5px;
background-color : #666;
font-family : liberation;
font-size: 14px;
}
input[type="submit"], button{
color : #fff;
background-color : #666;
border : 1px solid #fff;
cursor : pointer;
font-family : liberation;
font-size: 14px;
}
input:hover[type="submit"], button:hover{
color : #fff;
background-color : #000;
border : 1px solid #fff;
cursor : pointer;
font-family : liberation;
font-size: 14px;
}
/* HTML5 HACK -------------------------------------- */  
header, section, footer, aside, nav, article {  
	display: block;  
}
/* LAYOUT ------------------------------------------ */
* {
margin:0;
padding:0;
}

html, body {
height: 100%;
width: 100%;
  background: #fff;
  font-size: 14px;
  font-color: #000;
  font-family: liberation, Arial, Verdana, sans-serif;
}

#distance {
width: 10px;
height: 50%;
margin-bottom: -150px;
float: left;
}

#container {
margin: 0 auto;
position: relative;
height: 300px;
width: 500px;
clear: left;
}
.hallo {display:none;}
header {height:30px; width:100%; background:#000; top:0px; position:fixed; opacity:0.8;}
header nav ul {
  list-style-type: none;
  font-family: liberation;
  margin: 0;
  padding: 0;
  float:right;
}
header nav ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
header nav ul li a {
  display: inline-block;
  color: #fff;
font-size: 14px;
  text-decoration: none;
  line-height:20px;
  padding:5px;
font-family : liberation;
opacity: 0.8;
}
 
header nav ul li.active a {
  color: #fff;
  opacity: 0.8;
}
header nav ul li a:hover {
opacity: 1.0;
}
.logo {margin: 0 auto; position: relative; text-align : center;}
footer {margin: 0 auto; position: relative; text-align : center; font-size: 12px;}
/* PICS --------------------------------------------- */
img {border: 0px solid #fff;}
 figure {
  z-index:3;
  padding: 5px;
  margin:15px;
  float: left;
  border: 1px solid #000;
  background-color:#fff;
  border-radius: 5px;
  box-shadow: 0 0 15px #000;
  opacity: 1.0;}

 figure:hover {
  z-index:3;
  padding: 5px;
  margin:15px;
  float: left;
  border: 1px solid #000;
  background-color:#fff;
  border-radius: 5px;
  box-shadow: 0 0 15px #fff;
  opacity: 1.0;}

 figure figcaption {
  z-index:3;
  padding: 2px;
  background-color: #636363;
  color: #cccccc;
  font-family: liberation-italic;
  font-size: 12px;
  border-radius: 0 0 3px 3px;}

 figure img {
       z-index:3;
       border-radius: 3px 3px 0 0;
       padding:0px;
       margin:0px;}
 
/* LIGHTBOX ------------------------------------------- */

ul.lightbox li {
  z-index:8;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.75);
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  color:#ffffff;
  text-decoration:none;
}
ul.lightbox li:target {
  z-index:8;
  width: 100%;
  height: 100%;
  opacity: 1;
  color:#ffffff;
  text-decoration:none;
}
ul.lightbox li:target a {
  z-index:8;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -px 0 0 -px;
  border: 1px solid #fff;
  -moz-box-shadow:0 1px 8px #000000;
  -o-box-shadow:0 1px 8px #000000;
  -webkit-box-shadow:0 1px 8px #000000;
  color:#ffffff;
  text-decoration:none;
}
ul.lightbox li:target a:hover {
  z-index:8;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -px 0 0 -px;
  border: 1px solid #fff;
  -moz-box-shadow:0 1px 8px #000000;
  -o-box-shadow:0 1px 8px #000000;
  -webkit-box-shadow:0 1px 8px #000000;
  box-shadow: 0px 0px 25px #ffffff;
  color:#ffffff;
  text-decoration:none;
}
aside {
float:left;
margin-right:15px;
color:#000;
}
aside nav ul {
  list-style-type: none;
  font-family: liberation;
  margin: 0;
  padding: 0;
}
aside nav ul li {
  margin: 0;
  padding: 0;
}
aside nav ul li a {
  display: inline-block;
  color: #000;
font-size: 14px;
font-family : liberation;
margin-top:5px;
margin-left:5px;
margin-right:5px;
}
article {
margin: 0 auto; position: relative; text-align : center; padding:5px;
}
article table {margin: 0 auto; position: relative; text-align : left;}
article a:link, aside a:link    {color: #000;  text-decoration:none; border-bottom: 1px solid #ccc;}
article a:visited, aside a:visited {color: #000;  text-decoration:none; border-bottom: 1px solid #ccc;}
article a:focus, aside a:focus   {color: #000;  text-decoration:none; border-bottom: 1px solid #ccc;}
article a:hover, aside a:hover   {color: #000;  text-decoration:none; border-bottom: 1px solid #000;}
article a:active, aside a:active  {color: #000;  text-decoration:none; border-bottom: 1px solid #ccc;}
